<section class="features py-5 bg-custom">
  <div class="container" >    
    <div class="row justify-content-center">
      
      <div class="col-md-4 mb-4" (click)="goTo('manage-products')" style="cursor: pointer;">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Produits et matières premières</h4>
            <p class="card-text">Ajouter des produits et ajouter les matières premières qui les composent.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4" (click)="goTo('products')" style="cursor: pointer;">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Gestion des coûts</h4>
            <p class="card-text">Calculer vos coûts de production par produit et identifiez les opportunités d’optimisation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
