<nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" (click)="goTo('home')" style="cursor: pointer;">
      <strong>GES<span style="color: #aaf564;">KOU</span></strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="goTo('manage-products')" style="cursor: pointer;">Ajouter Produit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goTo('products')" style="cursor: pointer;">Effectuer calcul</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cta">Contact</a>
        </li>

        <!-- Gestion de l'authentification -->
        <ng-container *ngIf="!storageService.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="goTo('/login')">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="goTo('/register')">Inscription</a>
          </li>
        </ng-container>

        <ng-container *ngIf="storageService.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="goTo('/profile')">Profil</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger ms-2" (click)="logout()">Déconnexion</button>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
